In [36]:
import pandas as pd
source = pd.read_csv (r'C:\Users\blync\Downloads\source.csv')
source1 = pd.read_csv (r'C:\Users\blync\Downloads\source1.csv')

In [37]:
merged1 = source.merge(source1, on='campaign_id', how='outer')

In [38]:
merged1['State'] = merged1.audience.str.split("_").str[0]
merged1['Hair_Color'] = merged1.audience.str.split("_").str[1]
merged1['Age Range'] = merged1.audience.str.split("_").str[2]
merged1.drop(['audience'], axis=1, inplace=True)
print(merged1)

                                campaign_id ad_type        date  spend  \
0      856c435c-2dd1-42dd-ad40-b4d3c24d99d9   photo  2017-06-21  943.0
1      856c435c-2dd1-42dd-ad40-b4d3c24d99d9   photo  2017-06-15  457.0
2      856c435c-2dd1-42dd-ad40-b4d3c24d99d9   video  2017-06-17  651.0
3      b9c9bcb5-505e-4a39-8c17-51a7941b3fea   photo  2017-06-19  403.0
4      b9c9bcb5-505e-4a39-8c17-51a7941b3fea   photo  2017-06-19  403.0
...                                     ...     ...         ...    ...
18058  7c400367-9f98-4be9-8ed7-112bf09ccfa7     NaN         NaN    NaN
18059  6f64043d-4700-49ca-bc6d-178be351f624     NaN         NaN    NaN
18060  fc725c9e-729c-4c15-8e0a-d785579df658     NaN         NaN    NaN
18061  ad9d8a65-39e7-45b4-b422-20e4e114a8d9     NaN         NaN    NaN
18062  51be1709-d4ee-4558-b46c-8fafc9b22c21     NaN         NaN    NaN

                                                 actions  impressions State  \
0                         [{"A": 47, "action": "views"}]         1471    RI
1      [{"B": 82, "action": "junk"}, {"D": 85, "actio...         1471    RI
2      [{"A": 35, "action": "conversions"}, {"J": 29,...         1471    RI
3      [{"K": 70, "action": "conversions"}, {"J": 83,...         8686    OK
4      [{"K": 70, "action": "conversions"}, {"J": 83,...         7539    OK
...                                                  ...          ...   ...
18058                                                NaN         4072    KY
18059                                                NaN         7220    NY
18060                                                NaN         1718    VT
18061                                                NaN         8707    CA
18062                                                NaN         3637    TX

      Hair_Color Age Range
0          green     42-47
1          green     42-47
2          green     42-47
3          brown     60-65
4          brown     60-65
...          ...       ...
18058     orange     60-65
18059     purple     57-62
18060     purple     21-26
18061      brown     21-26
18062      green     24-29

[18063 rows x 9 columns]

In [39]:
purple_hair = merged1[['spend','Hair_Color']]
print(purple_hair)

       spend Hair_Color
0      943.0      green
1      457.0      green
2      651.0      green
3      403.0      brown
4      403.0      brown
...      ...        ...
18058    NaN     orange
18059    NaN     purple
18060    NaN     purple
18061    NaN      brown
18062    NaN      green

[18063 rows x 2 columns]

In [41]:
purple_hair_2 = purple_hair.drop(purple_hair[purple_hair.Hair_Color != 'purple'].index)
print(purple_hair_2)

       spend Hair_Color
21     202.0     purple
22     924.0     purple
23     498.0     purple
24     472.0     purple
25     620.0     purple
...      ...        ...
18001    NaN     purple
18006    NaN     purple
18040    NaN     purple
18059    NaN     purple
18060    NaN     purple

[2072 rows x 2 columns]

In [58]:
purple_hair_2.fillna(0, inplace=True)
print(purple_hair_2)
total_spent = purple_hair_2.sum()
print(total_spent)

       spend Hair_Color
21     202.0     purple
22     924.0     purple
23     498.0     purple
24     472.0     purple
25     620.0     purple
...      ...        ...
18001    0.0     purple
18006    0.0     purple
18040    0.0     purple
18059    0.0     purple
18060    0.0     purple

[2072 rows x 2 columns]
spend                                                    926121
Hair_Color    purplepurplepurplepurplepurplepurplepurplepurp...
dtype: object